<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Management System</title>
    <title>List Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Book Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Member
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="../members/addMember.html">Add New</a>
                        <a class="dropdown-item" href="../members/listMember.html">List</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Books
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="addBook.html">Add New</a>
                        <a class="dropdown-item" href="listBook.html">List</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink3" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="../categories/addCategori.html">Add New</a>
                        <a class="dropdown-item" href="../categories/listCategori.html">List</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Book Issue
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="../issue/issueNew.html">Issue New</a>
                        <a class="dropdown-item" href="../issue/listIssue.html">List</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>List Books</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Mã sách</th>
            <th>Ảnh</th>
            <th>Tên sách</th>
            <th>Giá tiền</th>
            <th>Số lượng</th>
            <th>Ngày xuất bản</th>
            <th>Nhà Xuất Bản</th>
            <th>Thể loại</th>
            <th>Tác Giả</th>
            <th>Sự kiện</th>
        </tr>
        </thead>
        <tbody>
        <!-- Duyệt qua danh sách sách và hiển thị thông tin -->
        <tr th:each="book : ${books}">
            <td th:text="${book.maSach}" ></td>
            <td><img th:src="@{/image/__${book.image}__}" style="max-width: 50px; max-height: 50px;"alt="Ảnh"></td>
<!--            <td><img src="/static/image/image1289292073.jpg" style="max-width: 50px; max-height: 50px;" alt=""></td>-->
            <td th:text="${book.tenSach}"></td>
            <td th:text="${book.giaTien}"></td>
            <td th:text="${book.soLuong}"></td>
            <td th:text="${book.ngayXuatBan}"></td>
            <td th:text="${book.nhaXuatBan.tenNhaXuatBan}"></td>
            <td th:text="${book.theLoai.tenTheLoai}"></td>
            <td th:text="${book.tacGia.ten}"></td>
                <td>
                    <a th:href="@{'/api/v1/admin/capnhap-sach/{id}'(id=${book.maSach})}" >Cập nhập</a>
                    <a th:href="@{'/api/v1/admin/xoa-sach/{id}'(id=${book.maSach})}" >Xóa</a>
                </td>
        </tr>
        </tbody>
    </table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>