<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phiếu mượn sách</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/adminnav/_nav :: nav}"></div>
<div class="container py-5 mt-2 border border-primary rounded table-responsive">
    <div class="col-md-12">
        <h2 class="pt-2 pb-3 border-bottom">Phiếu Mượn Sách</h2>
        <form class="py-2">
            <div class="form-group" id="formPhieuMuon">
                <label for="ngayMuon">Ngày Mượn</label>
                <input type="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" class="form-control" name="ngayMuon" id="ngayMuon">
            </div>
            <div class="form-group">
                <label for="ngayTra">Ngày Trả Dự Kiến</label>
                <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="form-control" name="ngayTra" id="ngayTra">
            </div>
            <div class="form-group">
                <label for="docGia">Member:</label>
                <select class="form-control" id="docGia">
                    <option value="">Lựa chọn Độc Giả</option>
                    <option th:each="docGia : ${docGias}" th:value="${docGia.maDocGia}" th:text="${docGia.ten}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="sach">Book:</label>
                <select class="form-control" id="sach">
                    <option value="">Lựa chọn Sách</option>
                    <option th:each="sach : ${sachs}" th:value="${sach.maSach}" th:text="${sach.tenSach}"></option>
                </select>
            </div>
            <input onclick="yeuCauThemSach()" value="Thêm Sách" type="button" class="btn btn-primary">
            <div class="table-responsive" style="max-height: 200px; overflow-y: auto">
                <table class="table" >
                    <thead>
                    <br>
                    <tr>
                        <th>Mã sách</th>
                        <th>Tên sách</th>
                        <th>Tác Giả</th>
                        <th>Sự kiện</th>
                    </tr>
                    </thead>
                    <br>
                    <tbody id="danhSachMuon" class="border">

                    </tbody>
                </table>
            </div>

            <p class="border"></p>
            <input onclick="taoPhieuMuon()" value="Tạo Phiếu Mượn" type="button" class="btn btn-primary">
            <input onclick="xoaBang()" value="Clear" type="button" class="btn btn-warning">
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
<script>

    function xoaBang(){
        $('#danhSachMuon tr').remove();
    }

    function taoPhieuMuon(){
        var idDocGia = $("#docGia").val();
        var idSachs = [];
        var ngayMuon = $("#ngayMuon").val();
        var ngayTraDuKien = $("#ngayTra").val();

        var date1 = new Date(ngayMuon);
        var date2 = new Date(ngayTraDuKien);
        var soNgayMuon = Math.ceil(date2 - date1) / (1000 * 60 * 60 * 24);
        if(soNgayMuon < 0){
            alert("Số ngày mượn không hợp lệ! Vui lòng chọn lại Ngày Mượn");
        }else{
            $("#danhSachMuon tr").each(function () {
                var columnValue = $(this).find('td:nth-child(1)').text();
                idSachs.push(columnValue);
            });

            var data = {
                idDocGia: idDocGia,
                idSachs : idSachs,
                ngayMuon : ngayMuon,
                ngayTraDuKien : ngayTraDuKien
            };
            console.log(data);
            $.post({
                url: "/api/v1/admin/phieu-muon",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert("Tạo Phiếu Mượn Thành Công");
                    console.log(response);
                    $('#danhSachMuon tr').remove();
                },
                error: function (xhr) {
                    alert("Có lỗi xảy ra trong quá trình Tạo Phiếu Mượn. Vui lòng thử lai sau giây lát!");
                }
            })
        }
    }

    function yeuCauThemSach(){
        var idSach = $("#sach").val();
        $.post({
            url: "/api/v1/admin/phieu-muon/them-sach",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(idSach),
            success: function (response) {
                alert("Thêm Sách thành công");
                console.log(response);
                themDong(response);
            },
            error: function (xhr) {
                console.log(xhr.responseJSON.tenSach)
                alert("Sách " + xhr.responseJSON.tenSach + " đã hết! Xin lỗi vì sự bất tiện này.");
            }
        })
    }

    function themDong(data){
        var row = "<tr>" +
            "<td>" + data.maSach + "</td>" +
            "<td>" + data.tenSach + "</td>" +
            "<td>" + data.tacGia + "</td>" +
            // "<td><input onclick=\"xoaDong('" + data.maSach + "')\" value=\"Xóa\" type=\"button\"></td>" +
            "<td><i class=\"fas fa-times\" onclick=\"xoaDong('" + data.maSach + "')\"></i></td>" +
            "</tr>";
        $("#danhSachMuon").append(row);
    }


    function xoaDong(id){
        $("#danhSachMuon tr").each(function () {
            var maSachRow = $(this).find("td:first").text();
            if (maSachRow === id.toString()) {
                $(this).remove();
                return false; // Dừng vòng lặp khi tìm thấy dòng cần xóa
            }
        });
    }
</script>
</html>
